@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300italic);
@import url(https://fonts.googleapis.com/css?family=Lemonada:700);

/*COLORS:
app name - #962d3e (red/pink)
buttons background - #348899 (blue)
buttons text color - #f2ebc7 (cream/white)
titles - #343642 (grey/blue)
plain text - black
border color - #962d3e (red/pink)
background color (header) - #979C9C(grey)
background color (body) - #f2ebc7 (cream/white)
create tasks/location - #348899 (blue)*/

/*GENERAL*/ 

body{
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #fffaf0
}

h3{
	font-size: 1.3em;
}

button{
	background-color: #f2ebc7;
}

a{
	color: #962d3e;
	font-size: 1em;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	border: 0px;
}

label{
	margin-bottom: 10px;
}


/*ERROR MESSAGES*/

.flashes{
	list-style: none;
	color: #8F002A;
	font-size: 0.9em;
	padding-left: 0px;
}


/*HEADER*/

h1{
    color:#962d3e ;
    font-family: 'Lemonada', Serif;
    letter-spacing: 1px;
    font-size: 2.5em;
    display: inline-block;
    width: 30%;
    text-align: center;
}

header{
    height: 100px;
    margin: 1% 0%;
    width: 100%;
}

header a{
	display: inline;
    vertical-align: top;
}

.links{
	display: block;
	width: 30%;
}

.links a{
    display: inline-block;
    vertical-align: top;
}

#weather{
	display: inline-block;
	background-color: #348899;
	border-radius: 5px;
    padding: 5px 15px 0px 15px;
}

#weather img{
	margin-left: 8px;
}

#weather h4{
	margin: 0px;
	text-align: center;
	color: #f2ebc7;
}

/*LOGIN*/

.register{
	background-color: #348899;
	color: #f2ebc7;
	border-radius: 5px;
}

.login{
	background-color: #348899;
	color: #f2ebc7;
	border-radius: 5px;
	padding: 5px;
}

.register, .login{
	display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 20px;
    min-height: 35%;
}

/*REGISTRATION*/

.registration{
	background-color: #348899;
	color: #f2ebc7;
	margin: 1% 25%;
	padding: 10px 50px 15px 20px;
	border-radius: 5px;
}

.registration h3{
	color: #f2ebc7;
}

.registration label{
	margin-bottom: 5px;
	display: block;
}

#pwd {
	width: 50%;
}

#conf_pwd {
	width: 50%;
}

#phone{
	width: 40%;
}



/*NEW SCHEDULE*/

.new_task{
	margin: 5px 20px 5px 10px;
	background-color: #348899;
	color: #f2ebc7;
	border-radius: 5px;
	width: 60%;
}

.form input{
	width: 95%;
	font-size: 0.9em;
	border-radius: 5px;
}

.new_task select{
	width: 30%;
	font-size: 1em;
	border-radius: 5px;
	margin-bottom: 10px;
}

.new_location{
	margin: 5px 0px 5px 10px;
	background-color: #348899;
	color: #f2ebc7;
	border-radius: 5px;
	width: 60%;
}

.new_location input{
	width: 60%;
	font-size: 0.9em;
}

.new_location label{
	display: block;
}

.datetime label{
	display: inline-block;
	width: 25%;
	margin-bottom: 10px;
}

.form{
	padding: 0px 50px 15px 20px;
}

.city_st label{
	display: inline-block;
	width: 30%;
}

#city{
	width: 95%;
}

#state{
	width: 20%;
}

#zip{
	width: 15%;
}


/*JQUERY - NEW_SCHEDULE.HTML*/

.collapse_on{
	background-color: #348899;
	color: #f2ebc7;
	border-radius: 5px;
	width: 60%;
}

.collapse_on h3{
	color: #f2ebc7;
	padding: 15px 10px;
}

.hidden{
	display: none;
}