<html>
  <head>
    <title>Task Slaughter</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPyRbu0nPZP5-43ZI2c3ro4UA-Y6xGpas&callback=initMap"
  type="text/javascript"></script>
   	<script type="text/javascript">
   		
        function getWeather(location, infowindow){
            $.get('http://api.openweathermap.org/data/2.5/weather?q=' +location+ '&appid=36279e2d034cc5833fe7086b5d812509&units=imperial', function(res){
                console.log(res);
                var weather_str="";
                var weather_desc=res['weather'][0]['description'];
                farenheit= res['main']['temp'];
                weather_str+='<h4>' + Math.round(farenheit)+ '&#8457; </h4>';
                var weather_img=res['weather'][0]['icon']
                weather_str += "<img src='http://openweathermap.org/img/w/" + weather_img + ".png'/>";
                infowindow.setContent(infowindow.content+'<div id="weather">'+ 
                    weather_str+'</div>');
            },'json');
        }
        

        function initMap(){
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: new google.maps.LatLng(37.82, -122.29),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
            var tasks = $('ul').children('li').each(function (){
                console.log($(this).children('#address').val());
                var address = $(this).children('[name="address"]').val();
                var loc_name = $(this).children('[name="loc_name"]').val();
                var city = $(this).children('[name="city"]').val();
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        resultsMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                          map: resultsMap,
                          position: results[0].geometry.location
                        });
                        var infowindow = new google.maps.InfoWindow();
                        var content = '<div id="map_content">' +
                                        '<h4>'+loc_name+'</h4>' +
                                        '<p>'+address+'</p>' +
                                       '</div>';

                        google.maps.event.addListener(marker, 'click', (function(marker, content, address, city) {
                            return function() {
                                getWeather(city, infowindow);
                                infowindow.setContent(content);
                                infowindow.open(map, marker);
                            }
                        })(marker, content, address, city));
                    } // else {
                      //  alert('Geocode was not successful for the following reason: ' + status);
                    //}
                });
            });
        }
   	</script>
  </head>

  <body>
    <header>
       <img src="/static/images/check_mark.png">
       <h1>Task Slaughter</h1>    
           <a id="link_logout" href="/task_slaughter/logout">Logout</a>
        <div class="links">
           <a href="/task_slaughter/new_schedule">Add Task</a>
           <a href="/task_slaughter/new_schedule">Add Location</a>
           <a href="/task_slaughter/future_tasks">Future Tasks</a>
       </div>
     
    </header>
    
    <section id="dashboard">
    	<h3>Hello {{ user['first_name'] }}!</h3>
    	<p>Here's what you have scheduled for today ({{ curr_date }}):</p>
    	<div id="tasks_back">
            <ul>
            <h4>Pending</h4>
            {% for task in p_tasks %}
                <li class="task_dash">
                    <input type="hidden" name="address" value="{{ task['street_name'] }}, {{ task['zip_code'] }}"></input>
                    <input type="hidden" name="loc_name" value="{{ task['location_name'] }}"></input>
                    <input type="hidden" name="city" value="{{ task['city'] }}"></input>
                    <form class="sms" action="/task_slaughter/dashboard/task_sms" method="post">
                        <input type="hidden"  name="task_id" value="{{ task['id'] }}"></input>
                        <button id="btn_sms" type="submit" name="sms">SMS</button>
                    </form>
                    <a class="task_desc" href="/task_slaughter/{{ task['id'] }}/show_schedule">{{ task['time'] }} - {{ task['task_name'] }} @ {{ task['location_name'] }}</a>
                    <form class="action" action="/task_slaughter/dashboard/status_update" method="post">
                        {% if task['status'] == 'Pending' %}
                            <button type="submit" name="button" value="done">Done</button>
                            <button type="submit" name="button" value="cancel">Cancel</button>
                        {% endif %}
                        <input type="hidden" name="task_id" value="{{ task['id'] }}"></input>
                    </form>   
                </li>
            {% endfor %}

            <h4 class="border" >Done</h4>
            {% for task in d_tasks %}
                <li class="task_dash done_st"><img src="/static/images/dashboard_check.png">{{ task['time'] }} - {{ task['task_name'] }} @ {{ task['location_name'] }}</li>
            {% endfor %}

            <h4 class="border">Cancelled</h4>   
            {% for task in c_tasks %}
                <li class="task_dash canc_st">{{ task['time'] }} - {{ task['task_name'] }} @ {{ task['location_name'] }}</li>
            {% endfor %}
            </ul>
        </div>
   
        <div id="map"></div>

     </section>

  </body>
</html>
