<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <title>Task Slaughter</title>
  </head>
  <body>
    <header>
       <h1>Task Slaughter</h1>    
    </header>

    <div id='about'>
      <h3>Welcome to Task Slaughter! Let us help you organize your life and plan each day out as efficiently as possible. Add tasks, pre-set frequent locations, and get jobs done! Use our interactive map to plan out your day and send reminders to your cellphone to ensure that no appointment or task goes undone. Log in or register below to get started with Task Slaugher!</h3>
    </div>

    <section class="login form">
      <h3>Login</h3>
      {% with messages = get_flashed_messages(category_filter=['login']) %}
        {% if messages %}
          <ul class="flashes">
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
      <form class="form" action="/task_slaughter/login_process" method="post">
        <label>
          E-mail:<br>
          <input type="email" name="email"></input>
        </label>
        <label>
          Password:<br>
          <input type="password" name="password"></input>
        </label>
        <button id="btn_login" type="submit" name="login">Login</button>
      </form>
    </section>

    <section class=" register form">
    	<h3>Registration</h3>
      <p>Task Slaughter is here to help you keep all your tasks on track!</p>
      <a href="/task_slaughter/registration">Start now!</a>
    </section>

  </body>
</html>
